<% provide(:title, "All users") %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user|  %>
    <%= render @users %>
    <%# render@users => render"user" (ActionView#renderの強力な予測機能) %>
  <% end %>
</ul>

<%= will_paginate %>
